[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FMCensSkewReg"]
	path = FMCensSkewReg
	url = https://github.com/jiwonpark41/fmcensskewreg
